.mdc-button{
  margin: 2%;
}

.header-content {
  display: flex;
  align-items: center; /* Vertically aligns items */
  justify-content: space-between; /* Adds space between h2 and button */
  width: 100%; /* Makes the container span full width of card */
}

.header-content h2 {
  margin: 0; /* Removes default margin from h2 for better alignment */
}

.header-content button {
  margin-left: auto; /* Pushes the button to the far right */
}
